<html>
    <head>
        {% block meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Meccano CMS</title>
        {% endblock meta %}

        {% block css %}
        <link rel="stylesheet" type="text/css" href="/admin/vendor/uikit/css/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
        {% endblock css %}

        {% block js %}
        <script type="text/javascript" src="/admin/vendor/uikit/js/uikit.min.js"></script>
        {% endblock js %}
    </head>
    <body>
        {% block body %}
		{% block main %}
		{% endblock main %}
        {% endblock body %}
    </body>
</html>
