body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
img {
    max-width: 100%;
}
a, button {
    text-decoration: none;
    outline: none !important;
    color: #878787;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
div[class*="col-"] {
    float: left;
}
.pull-left {
    float: left;
}


#meccano-admin-app, .app-container {
	height: 100%;
	width: 100%;
	display: table;
	background: #F1F2F7;
}
.login-page {
	height: 100%;
	display: table-cell;
	margin: 0;
	padding: 0;
	background: url("/admin/img/bg-full.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
.login-form {
	width: 380px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -150px;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid #AAA;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 40px 55px 20px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.form-control.is-invalid, .form-control:invalid {
    border-color: #dc3545;
}
.form-control.is-invalid:focus, .form-control:invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}


aside.left-panel {
    background: #FFF;
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0 25px;
    vertical-align: top;
    width: 280px;
    transition: width 0.3s ease;
	border-right: 1px solid #AAA;
}
.navbar {
    background: #FFF;
    border-radius: 0;
    border: none;
    display: block;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
}
.navbar .navbar-header {
    float: none;
    text-align: center;
    width: 100%;
}
.navbar .navbar-brand {
    border-bottom: 1px solid #4e4e52;
    color: #f1f2f7 !important;
    font-family: 'Open Sans';
    font-size: 22px;
    float: none;
    line-height: 50px;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
    display: block;
    min-height: 69px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navbar .navbar-brand.hidden {
    display: none;
}
.open aside.left-panel .navbar .navbar-brand.hidden {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.open aside.left-panel .navbar .navbar-brand {
    display: none;
}
.open aside.left-panel {
    max-width: 70px;
    width: 70px;
}
.open asside.left-panel .tree-view {
	display: none;
}


.right-panel {
    display: table-cell;
    padding-left: 0 !important;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.open .right-panel {
    margin-left: -210px;
}
.right-panel header.header {
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    clear: both;
    display: inline-block;
    padding: 15px 20px 13px 20px;
    width: 100%;
}
.header-menu .col-sm-7 {
    position: inherit;
}

.menutoggle {
    background: #77a040;
    border-radius: 50%;
    color: #fff !important;
    cursor: pointer;
    font-size: 18px;
    height: 43px;
    line-height: 44px;
    margin: -2px 20px 0 -57px;
    text-align: center;
    width: 43px;
}
.open .menutoggle i::before {
    content: "\f0a4";
}
.user-area {
    float: right;
    padding-right: 0;
    position: relative;
}
.user-area .dropdown-toggle::after {
    display: none;
}
.user-area .user-avatar {
    float: right;
    margin-top: -10px;
    width: 50px;
}
.dropdown-menu {
    border-radius: 0;
    transform: none !important;
}
.user-area .user-menu {
    background: #fff;
    border: none;
    font-family: 'Open Sans';
    left: inherit !important;
    right: 0;
    top: 55px !important;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px;
}




.app-wrapper {
    display: grid;
    grid-template-columns: 0.2fr auto;
    grid-template-rows: 60px auto 26px;
    grid-gap: 3px;
    height: 100%;
}
.app-header {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: yellow;
}
.app-footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
	line-height: 26px;
	padding-right: 25px;
}
.app-content {
    grid-column: 2 / 3;
    grid-row: 2;
    background-color: blue;
}
.app-sidebar {
    grid-column: 1;
    grid-row: 2;
    background-color: red;
}