<!doctype html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Meccano CMS</title>
        
		<link rel="stylesheet" href="/admin/vendor/normalize-css/normalize.css" />
        <link rel="stylesheet" href="/admin/vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/admin/vendor/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="/admin/vendor/themify-icons/css/themify-icons.css" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' type='text/css' />
        
        <link rel="stylesheet" href="/admin/css/style.css" />
        <link rel="stylesheet" href="/admin/css/tree.css" />
    </head>

    <body>
    	<div id="meccano-admin-app"></div>
        
        <script type="text/javascript" src="/admin/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/admin/vendor/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/admin/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/admin/vendor/jstree/dist/jstree.min.js"></script>
        <script type="text/javascript" src="/admin/js/app.js"></script>
    </body>
</html>