{% extends "layout.html.twig" %}

{% block main %}
    <div id="box1">
        <h2>
            Welcome to Vacant Snowdrift
        </h2><img class="left" src="/img/pic2.jpg" width="100" height="100" alt="" />
        <p>
            This is <strong>Vacant Snowdrift</strong>, a three column CSS template by
            <a href="http://templated.co" rel="nofollow">TEMPLATED</a> with photos from
            <a href="http://www.pdphoto.org/">PDPhoto</a>. It's released (for free) under the
            <a href="http://templated.co/license/">Creative Commons Attribution license</a>,
            so feel free to use it for any personal or commercial work (just give us credit for it).
            Hit up our <a href="http://templated.co">website</a> for more awesomely
            cool free templates, and follow us on <a href="http://twitter.com/templatedco">Twitter</a>
            (<a href="http://twitter.com/templatedco">@templatedco</a>) for updates, announcements, and other
            mildly interesting ramblings.
        </p>
    </div>
    <div id="box2">
        <h3>
            Lorem natoque ultrices
        </h3>
        <p>
            Convallis id mus pulvinar. Fusce fermentum praesent blandit natoque. Semper praesent mollis
            vivamus. Tempus cursus dictum enim laoreet duis pretium. Massa nunc purus metus quis condimentum
            arcu magnis. Odio ridiculus fermentum fringilla suspendisse cubilia.
        </p>
        <ul class="linkedList">
            <li class="first">
                <a href="#">Metus semper curabitur varius sit risus pretium condimentum</a>
            </li>
            <li>
                <a href="#">Lorem volutpat mauris nisl neque vivamus pretium</a>
            </li>
            <li>
                <a href="#">Cursus quisque est sodales erat blandit volutpat</a>
            </li>
            <li class="last">
                <a href="#">Ultrices ridiculus ultrices ante tempor magnis</a>
            </li>
        </ul>
    </div>
    <div id="box3">
        <h3>
            Suspendisse viverra consectetur lectus
        </h3>
        <p>
            Imperdiet etiam sed tellus donec malesuada consectetur libero. Odio nulla nisi tortor ligula
            suscipit vivamus ante. Donec vestibulum vel at ligula lorem ultricies lectus. Hendrerit integer
            interdum proin penatibus nibh. Placerat posuere faucibus metus fermentum ullamcorper
            condimentum hendrerit. Sagittis a augue viverra vitae adipiscing ante lacus. Vitae sollicitudin
            aliquet feugiat egestas aliquet. Odio odio quis facilisis feugiat amet sem ornare.
        </p>
    </div>
    <br class="clear" />
{% endblock main %}