{% extends "layout.html.twig" %}

{% block content %}
    <h2>*{{ section.url }}</h2>
    <div style="width: 400px; margin: 40px auto;">
        <form method="post" action="{{ section.url }}">
            <label>Username:</label><br />
            <input type="text" name="_username" /><br />
            <br />
            <label>Password:</label><br />
            <input type="password" name="_password" /><br />
            <br />
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock content %}