{% extends "layout.html.twig" %}

{% block subheader %}{% endblock %}

{% block content %}
<h2>Error 500 occurred</h2>

{% if exception %}
    File: {{ exception.file }}<br />
    Line: {{ exception.line }}<br /><hr />
    {% if exception.message %}
        Message: {{ exception.message }}<br /><hr />
    {% endif %}

    <div style="width: 90%;display: inline-block; font-family: 'Courier New'; margin: 20px 0;">
        {% if exception.xdebug_message %}
            {{ exception.xdebug_message|raw|nl2br }}
        {% else %}
            {{ exception.getTraceAsString|nl2br }}
        {% endif %}
    </div>
{% endif %}

{% endblock content %}