{% extends "layout.html.twig" %}

{% block main %}
    {% for item in articles %}
        <h3>{{ loop.index }} - <a href="">{{ item.title }}</a></h3>
        <p>{{ item.description }}</p>
        <hr />
    {% endfor %}
{% endblock main %}