<html>
{% block head %}
<head>
    {% block meta %}
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% endblock meta %}

    {% block pagetitle %}
    <title>Artinet Meccano</title>
    {% endblock pagetitle %}

    {% block css %}
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {% endblock css %}

    {% block jshead %}
    {% endblock jshead %}

</head>
{% endblock head %}

<body>
{% block page %}
    <div id="bg">
        <div id="outer">

            {% block header %}
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="#">Artinet Meccano</a>
                    </h1>
                </div>

                {% block navigation %}
                <div id="nav">
                    <ul>
                        <li class="first active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li class="last">
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                    <br class="clear" />
                </div>
                {% endblock navigation %}
            </div>

            {% block subheader %}
            <div id="banner">
                <img src="/img/pic1.jpg" width="1120" height="200" alt="" />
            </div>
            {% endblock subheader %}

            {% endblock header %}


            <div id="main">

                {% block content %}
                <div id="content">
                    {% block main %}{% endblock main %}
                </div>

                {% block left %}
                <div id="sidebar1">
                    <h3>
                        Massa duis nisl
                    </h3>
                    <p>
                        Ornare ridiculus convallis porttitor. Malesuada sem curae condimentum urna sagittis consequat.
                    </p>
                    <ul class="linkedList">
                        <li class="first">
                            <a href="#">Nibh lacus quis veroeros</a>
                        </li>
                        <li>
                            <a href="#">Risus elementum et tristique</a>
                        </li>
                        <li class="last">
                            <a href="#">Mattis et curabitur pretium</a>
                        </li>
                    </ul>
                    <h3>
                        Gravida proin
                    </h3>
                    <ul class="linkedList">
                        <li class="first">
                            <a href="#">Malesuada sit phasellus et vivamus consequat</a>
                        </li>
                        <li>
                            <a href="#">Lorem magnis cubilia lacus</a>
                        </li>
                        <li>
                            <a href="#">Ultricies neque praesent</a>
                        </li>
                        <li>
                            <a href="#">Viverra ligula amet enim</a>
                        </li>
                        <li>
                            <a href="#">Nibh amet nisl veroeros</a>
                        </li>
                        <li>
                            <a href="#">Vestibulum diam porttitor</a>
                        </li>
                        <li>
                            <a href="#">Cras mollis et lacinia</a>
                        </li>
                        <li>
                            <a href="#">Felis mollis consequat</a>
                        </li>
                        <li class="last">
                            <a href="#">Aenean consequat purus</a>
                        </li>
                    </ul>
                </div>
                <div id="sidebar2">
                    <h3>
                        Lorem lobortis
                    </h3>
                    <ul class="linkedList">
                        <li class="first">
                            <a href="#">Tempus congue ultrices</a>
                        </li>
                        <li>
                            <a href="#">Nibh amet nisl veroeros</a>
                        </li>
                        <li>
                            <a href="#">Vestibulum diam porttitor</a>
                        </li>
                        <li>
                            <a href="#">Cras mollis et lacinia</a>
                        </li>
                        <li>
                            <a href="#">Nibh amet nisl veroeros</a>
                        </li>
                        <li>
                            <a href="#">Vestibulum diam porttitor</a>
                        </li>
                        <li class="last">
                            <a href="#">Sodales amet sed magna</a>
                        </li>
                    </ul>
                    <h3>
                        Venenatis lacinia sed amet ultricies
                    </h3><img class="top" src="/img/pic3.jpg" width="224" height="96" alt="" />
                    <p>
                        Augue porta ultrices volutpat tempor mattis sed aliquam. Malesuada a orci diam luctus sagittis.
                        Vulputate dolor sed penatibus sociis et convallis. Ornare blandit mollis natoque. Rutrum pharetra
                        pellentesque. Aliquam consequat parturient aliquam. Mauris montes sed consequat mattis pulvinar
                        penatibus elit aenean amet porttitor. Phasellus pulvinar consectetur sed veroeros.
                    </p>
                </div>
                <br class="clear" />
                {% endblock left %}

                {% endblock content %}
            </div>

            <div id="footer">
                {% block footer %}
                <div id="footerContent">
                    <h3>
                        Euismod varius urna condimentum
                    </h3>
                    <p>
                        Rutrum pharetra vulputate pellentesque. Aliquam consequat parturient aliquam. Mauris montes
                        consequat mattis pulvinar feugiat vestibulum vel lectus molestie pulvinar primis
                        lorem. Pharetra nisl amet tempor penatibus elit aenean porttitor. Phasellus pulvinar consectetur.
                    </p>
                </div>
                <div id="footerSidebar1">
                    <h3>
                        Malesuada facilisis
                    </h3>
                    <ul class="linkedList">
                        <li class="first">
                            <a href="#">Urna laoreet consequat</a>
                        </li>
                        <li>
                            <a href="#">Dictum vel lore msodales</a>
                        </li>
                        <li class="last">
                            <a href="#">Dignissim et justo etiam</a>
                        </li>
                    </ul>
                </div>
                <div id="footerSidebar2">
                    <h3>
                        Dolore sed pulvinar
                    </h3>
                    <ul class="linkedList">
                        <li class="first">
                            <a href="#">Placerat lorem primis</a>
                        </li>
                        <li>
                            <a href="#">Faucibus id amet rutrum</a>
                        </li>
                        <li class="last">
                            <a href="#">Aliquet sed ullamcorper</a>
                        </li>
                    </ul>
                </div>
                <br class="clear" />

                {% endblock footer %}
            </div>
        </div>
        <div id="copyright">
            &copy; Your Site Name | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>
        </div>
    </div>
{% endblock page %}
</body>
</html>